{% extends "base.html" %}

{% load custom_filters %}

{% load static %}

{% block cssfiles %} <link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}
{% block title %} Login {% endblock %}

{% block content %}
    {% if form.errors %}
        <p>
            Your username and password did not match.
            Please try again
        </p>

    {% else %}
        <p>
            Please enter your username and password.
            If you do not have an account, <a href="{% url 'authh:register' %}">Register here</a>
        </p>
    {% endif %}

    <div class="login-form">
        <img src="{% static 'images/logo.png'%}" class="logo"/>
        <h2 class="title">Hello Again!</h2>

        <form method="post" action="{% url 'authh:login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username|add_class:"form-input" }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password|add_class:"form-input" }}
            </div>
            <p class="forgotDiv">
                <a href="{% url 'authh:password_reset' %}" class="forgotTxt">
                    Forgotten your password?
                </a>
            </p>
            <input type="submit" value="login" class="login-btn ">
        </form>
        <div>
            <p class="login-text">First time here? <a href="{% url 'authh:register' %}" class="link">Register</a></p>
        </div>
        
        <footer class="footer">
          <a href="#">Privacy</a> | <a href="#">Policy</a> | <a href="#">Contact us</a>
        </footer>

    </div>
{% endblock %}