{% extends "base.html"%} 
{% load static %}

{% block title %} Password reset {% endblock %}

{% block content %}
    <div clas="cont">
        <div class="Reset-form">
            <div>
                <img src="{% static 'images/logo.png'%}" class="logoImg"/>
            </div>
            
            <div>
                <h2 class="title">Password Reset Done!</h2>
            </div>
            
            <div>
                <p class="rest-msg">Your password has been successfully reset. You can now login again.</p>
            </div>
            
            <div>
                <a href="{% url 'authh:login' %}" class="loginBtnDone">LOGIN</a>
            </div>
        </div>
    </div>
        
    <style>
        .rest-msg{
            margin-bottom:1rem;
            margin-top:-1rem;

        }
        
        .Reset-form {
            border: 1px solid #1883bb;
            max-width: 480px;
            width: 100%;
            padding: 3rem 1rem;
            margin:10rem auto;
            border-radius: 41px;
            background-color: #ffffff;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* height: 50%; */
            gap: 1.5rem;
        }
        
        .logoImg {
            width: 217px;
            max-width: 100%;
            aspect-ratio: 3.1;
            object-fit: contain;
        }
    
        .title {
            color: #1883bb;
            font-size: 24px;
        }
        
        .loginBtnDone {
            text-decoration: none;
            font-weight: 500; 
            color: #ffffff !important;
            border-radius: 5px;
            padding: 18px 53px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 1rem; 
            border: 1px solid #1883bb;
            background: #1883bb;
        }

            .loginBtnDone:hover {
                background:#177cb2;
                color: #fff;
                border: 1px solid #177cb2;
        }
            .loginBtnDone:active {
                background:#fff;
                border: 1px solid #1883bb;
                color: #1883bb
        }
    </style>
        
    {% endblock %}