{% extends "base.html" %}

{% load static %}


{% block title %} ALT-SHIFT | Reset your password {% endblock %}

{% block content %}

    {% if validlink %}
    <div class="cont" action=> 
        <div class="Reset-form">
            <div>
                <img src="{% static 'images/logo.png'%}" class="logoImg" alt="Company Logo" />
            </div>
            
            <div>
                <h2 class="title">Write your new password</</h2>
            </div>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Change your password" class="sendBtn"/>
            </form>
            
            
            </div>
        </div>
            
    {% else  %}
    <div class="cont" > 
        <div class="Reset-form-else">
            <div>
                <img src="{% static 'images/logo.png'%}" class="logoImg" alt="Company Logo" />
            </div>
            <p id="">The link is not valid......</p>
            </div>
        </div>
    {% endif  %}
    
<style>
    .cont{
        
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .Reset-form {
      position: absolute;
      top: 20%;
      border: 1px solid #1883bb;
      max-width: 480px;
        width: 100%;
        padding: 1rem 3rem;
        margin:0 auto;
        border-radius: 41px;
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 50%; */
        gap: 1rem;
      }
      
      .logoImg {
        width: 400px;
        max-width: 100%;
        aspect-ratio: 3.1;
        object-fit: contain;
      }
      
      .title {
        margin-top: 0rem;
        margin-bottom: 1rem;
        color: #1883bb;
        font-size: 24px;
      }
      
      .resetForm label {
        display: block;
        margin-bottom: 10px; 
        font-size: 16px;
      }
      
      .form-input {
        width: 100%;
        height: 36px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
      }
      .resetBtns {
        width: 100%;
      }
      .sendBtn {
        width:100%;
        background-color: #1883bb;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 10px 53px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 25px;
        border: 1px solid #1883bb;
      }
      .sendBtn:hover {
        background: #177cb2;
        border: 1px solid #177cb2;
      }
      
      .cancelBtn {
        background-color: #fff;
        color: #1883bb;
        border: 1px solid #1883bb;
        border-radius: 5px;
        padding: 18px 53px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 25px;
        outline: none;
      }
      .cancelBtn:hover {
        background: #ccc;
        border: 1px solid #ccc;
      }
      
      #id_new_password1,#id_new_password2{
        background:#fff;
        width: 100%;
        height: 36px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
      }
      #id_new_password1:hover, #id_new_password2:hover{
        border: 2px solid #1883bb;
      }
     .Reset-form-else{
        max-width: 1500px;
        border:1px solid #1883bb ;
        width: 50%;
        padding: 3rem 0rem;
        margin:0 auto;
        border-radius: 41px;
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 50%; */
        gap: 1rem;
     }
     .Reset-form-else p{ font-size:1.2em}
     .Reset-form ul{
      margin-bottom: 2rem;
     }
     .Reset-form li{
      text-align:left;
      font-size:0.7em;
     }
   ul.errorlist {
      padding: 0
   }

</style>
{% endblock %}
