{% extends "base.html" %}

{% load static %}

{% block title %} ALT-SHIFT | Email Sent {% endblock %}

{% block content %}
<div class="cont"> 

<div class="Reset-form">
    <div>
      <img src="{% static 'images/logo.png'%}" class="logoImg" alt="Company Logo" />
    </div>
    
    <div>
      <h2 class="title">Email Sent Successfully.</h2>
    </div>

    <div>
        <p class="emilSent">We have send you a reset password to your email address.</p>
        <br>
        <p >If you don't receive a reset password email, please make sure you entered your email address correctly.</p>
    </div>

    <div>

    </div>
</div>
</div>

<style>
    .cont{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .Reset-form {
        border: 1px solid #1883bb;
        max-width: 480px;
        width: 100%;
        padding: 3rem 3rem;
        margin:0 auto;
        border-radius: 41px;
        background-color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 50%; */
        gap: 1rem;
      }
      
      .logoImg {
        width: 217px;
        max-width: 100%;
        aspect-ratio: 3.1;
        object-fit: contain;
      }
      
      .title {
        color: #1883bb;
        font-size: 24px;
      }
      
      p {
        text-align: left;
      }
      .emilSent{
        font-weight:400;
      }
</style>

{% endblock %}