
{% extends "base.html" %}
{% load static %}

{% block title %} Create an account {% endblock title %}
{% block content %}
<div class="register-form">
<img src="{% static 'images/logo.png'%}" class="logo"/>
<h2 class="title">Join us & Become a Translator!</h2>
    <form  method="post">
        {% csrf_token %}

        {{user_form.as_p}}
        <input type="submit" value="Register" class="register-btn">
</form>
<p class="register-text">Already registered? <a href="{% url 'authh:login' %}" class="register-link">Login</a></p>
  <footer class="footer">
    <a href="#">Privacy</a> | <a href="#">Policy</a> | <a href="#">Contact us</a>
  </footer>
</div>
{% endblock content%}