{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <span class="logo">logo</span>
        {% if request.user.is_authenticated %}
            <ul class='menu'>
                <li {% if section == 'home' %} class="selected" {% endif %}>
                    <a href="{% url 'dashboard' %}">My home</a>
                </li>

                <li {% if section == 'project' %} class="selected" {% endif %}>
                    <a href="#">project1</a>
                </li>
    
                <li {% if section == 'project' %} class="selected" {% endif %}>
                    <a href="#">project2</a>
                </li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }}
                <a href="{% url 'Logout' %}">Logout</a> 
                or <a href="{% url 'edit' %}">edit</a>
                or <a href="{% url 'password_change' %}">password_change</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>

    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{message.tags}}">
                    {{message|safe}}
                </li>
                <a href="#" class="close">X</a>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>