{% extends "base.html" %}
{% load static %}

{% block title %} ALT-SHIFT | Create Project {% endblock %}
{% block content %}
<div class="createProject-form">
    <img src="{% static 'images/logo.png'%}" class="logo" alt="logo"/>
    <h2 class="title">Start New Project</h2>
    <form action="{% url 'translation:create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title"> Title </label>
        {{ form.title }}
        <label for="publish"></label>
        {{ form.publish }}
        <label for="deliverytime" > Delivery Time </label>
        {{ form.deliverytime }}
        <label for=""> Choose File </label>
        <label for="fileEN" class="custom-file-label"> Browse... </label>
        {{ form.fileEN }}
        <button type="submit" class="createProject-btn">Create</button>

    </form>

    <footer class="footer">
        <a href="#">Privacy</a> | <a href="#">Policy</a> | <a href="#">Contact us</a>
      </footer>
    </div>
<style>
    input[type="file"] {
        display: none;
      }
      label {font-weight:500}
    .createProject-form {
        padding: 24px 40px;
        border-radius: 41px;
        position: absolute;
        top: 3%;
        left: 35%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        text-align: center;
        align-items: center;
        margin: 55px auto;
      }
      
      .title {
        color: #1883bb;
        font-size: 24px;
        margin-top: 39px;
        margin-bottom: 40px;
      }
      
      .form-group {
        text-align: left;
        margin-bottom: 10px;
      }
      
      .form-row {
        display: flex;
        gap: 16px;
      }
      
      .form-row .form-group {
        flex: 1;
      }
      
      label {
        text-align: left;
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        
      }
      
      .form-create, .browse-button {
        width: 100%;
        height: 36px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
      }
      .browse-button {
        background: #fff;
        color: #b1b1b1;
      }
      .browse-button:hover {
        cursor: pointer;
        background: #efeeee;
      }
      .form-create:focus {
        border: 2px solid #1883bb !important;
        outline: none !important;
      }
      
      .createProject-btn {
          background-color: #1883bb;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          padding: 15px 53px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 25px;
          border: 1px solid #1883bb
        }
        .createProject-btn:hover {
            background: #126591;
            border: 1px solid #126591   
        }
        .createProject-btn:active {
            background: #fff;
            border:1px solid #1883bb;
            color: #1883bb
        }
      .forgotDiv{
          width: 100%;
          text-align: right;
          font-size: 16px;
          margin: 1.2rem 0;
      }
      .forgot-password {
        color: #a8a7a7;
        text-align: right; 
        text-decoration: none;
    }
      
      .login-link {
        color: #1883bb;
        text-decoration: none;
        font-weight: bold;
      }
      .link {
        color: #1883bb;
        text-decoration: none;
        font-weight: bold;
      }
      
      .footer {
        font-size: 16px;
        margin-top: 45px;
      }
      
      .footer a {
        color: #000000;
        text-decoration: none;
      }


      .custom-file-label{    
        display: inline-block;
        cursor: pointer;
        background-color: #fff;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        color: #000;
        border: 1px solid #ccc;
        padding: .5rem 2rem;
        width: 100%;
    }
    .custom-file-label:hover {
        background-color: #ccc;
        color:#000;
        border:1px solid #ccc
      }
#fileEN{
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  color: #b1b1b1;

}
#fileEN:hover {
    background: #ccc;
  }
#publish{
    display: none;

}

</style>


{% endblock %}
