@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #1883BB;
    --primaryHover: #126591;
    --secondaryColor: #ccc;
    --paragraphColor: #b2b2b2;
    --bgColor: #fff;
    --headerHeight: 3rem
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins, sans-serif;
}
a {
  text-decoration: none;
}
body { 
    overflow-x: hidden
}

h1, h2, h3, h4, h5 , h6 { font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}



#header {
    padding:10px 100px;
    font-size:14px;
    background:#fff;
    color:#1883BB;
    border-bottom:4px solid #1883BB 0.5;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#header ul.menu {
    
    color:#1883BB;
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
  
    /* color:#1b6d32; */
    font-weight:bold;
}

#header a {
    color:#1883BB;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
}

#content {
    padding:30px 100px;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#fff;
    border: 1px solid #ccc;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    font-weight:bold;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    text-align:left;
    font-size:1em;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* 

/*TRANSLATE PAGE*/
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    gap: 1rem
}

.wrapper {
    width: 100%;
    max-width: 25em;
    margin-inline: 1rem;
    padding: 1.5em;
    border-radius: 1em;
    backdrop-filter: blur(1.5em);
    border: .1em solid #1727a6;
}

.container .form {
    display: flex;
    flex-direction: column;
}


.container .form .txt-input {
    background: transparent;
    border: .1em solid #12c064;
    border-radius: .5em;
    height: 5rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding: .5em;
    outline: none;
    resize: none
}
.container .form .txt-input::placeholder {
    color: #9bf1c3
}


.container .form .btn {
    padding: .5em;
    cursor: pointer;
    border-radius: .5em;
    font-size: 1rem;
    font-weight: bold;
    margin: 1em 0;
    transition: .3s ease;
    border: .1em solid transparent;
    text-transform: uppercase;
}
.container .form .btn:hover {
    color: rgb(0, 0, 0);
    background: transparent;  
    border-color: #12c064
}


.container .reply  {
    color: #12c064;
    font-size: 1rem;
}


  /* HERO - WELCOME */
  
.hero-content {
  padding: 0 3rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

  .hero-image-column {
    height: 80vh; 
    width: 55%;
    /* margin-left: 3rem; */
  }

  @media (max-width: 991px) {
    .hero-image-column {
      width: 100%;
    }
  }

  .hero-image {
    height: 80vh;
    /* aspect-ratio: 1; */
    object-fit: auto;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .hero-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin: 5rem 4rem;
    color: #000;
  }

  @media (max-width: 991px) {
    .hero-text-column {
      width: 100%;
    }
  }

  /* .hero-text-content {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    color: #000;
    font-weight: 400;
    padding: 0 20px;
  } */

  @media (max-width: 991px) {
    .hero-text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-welcome-text .hero-subtitle {
    font-size: 2.2em;
    font-weight: 200;
  }

  .hero-title {
    color: #1883bb;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 8em;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .hero-title {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }


  @media (max-width: 991px) {
    .hero-subtitle {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-cta-button {
      border-radius: 28px;
      background-color: #1883bb;
      margin-top: 133px;
      width: 344px;
      max-width: 100%;
      align-items: center;
      color: #fff;
      text-align: center;
      justify-content: center;
      padding: 35px 60px;
      font-size: .8em;
    }

.hero-cta-button:hover {
    cursor: pointer;
    background: var(--primaryHover);
}
  @media (max-width: 991px) {
    .hero-cta-button {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .hero-join-text {
    text-align: center;
    margin-top: 4rem;
    font: 16px Poppins, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-join-text {
      margin-top: 40px;
    }
  }

  .hero-join-button {
    font-family: Poppins, sans-serif;
    border-radius: 28px;
    border: 1px solid #1883bb;
    margin-top: 18px;
    width: 344px;
    max-width: 100%;
    align-items: center;
    color: #1883bb;
    text-align: center;
    justify-content: center;
    padding: 35px 60px;
    font-size: .8em;
  }
  .hero-join-button:hover {
    cursor: pointer;
    background: var(--secondaryColor);
    border: var(--secondaryColor);

  } 

  @media (max-width: 991px) {
    .hero-join-button {
      padding: 0 20px;
    }
  }
/* body {
  overflow: hidden;
} */

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  border-radius: 41px;
  background-color: #ffffff;
  text-align: center;
  align-items: center;

  max-width: 480px;
  margin: 55px auto;
  padding: 0 40px;
  border-radius: 41px;
  text-align: center;
}
a {
  color:#1883BB !important;
  text-decoration:none;
}
.logo {
  max-width: 100%;
  aspect-ratio: 3.1;
  object-fit: contain;

} 

.title {
  color: #1883bb;
  font-size: 24px;
  margin-top: 39px;
  margin-bottom: 40px;
}

.form-group {
  text-align: left;
  margin-bottom: 10px;
}


.form-row {
  display: flex;
  gap: 16px;
}

.form-row .form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-input {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: white;
  
}
.form-input:focus {
  border: 3px solid #1883bb;
  outline: none;

}

.register-btn {
  background-color: #1883bb !important;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 18px 53px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  font-weight:bold;
  text-transform:uppercase;
  margin:3rem 10rem 0;
}

.register-text {
  font-size: 16px;
  margin-top: 46px;
}

.register-link {
  color: #1883bb;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  font-size: 16px;
  margin-top: 45px;
}

.footer a {
  color: #000000;
  text-decoration: none;
}



/* 
h1#y {
    color: green;
}

.header {
    background-color: red;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    float: leftttt;
    color: #f3f7cc;
    font-size: 20px;
    margin-right: 10%;
}
.logo img {
    max-width: 100px;
    height: auto;
}
.navbar {
    flex-grow: 1;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    color: #1883BB;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0E5A8A;
}

.login-link {
    text-decoration: none;
    color: #1883BB;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
} */