/* @import url(//fonts.googleapis.com/css?family=Muli); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primaryColor: #1883BB;
    --primaryHover: #126591;
    --secondaryColor: #ccc;
    --paragraphColor: #b2b2b2;
    --bgColor: #fff;
    --headerHeight: 3rem
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins, sans-serif;
}

body { 
    overflow-x: hidden
}

/* .logo {
    align-self: center;
    width: 100%;
} */
p {
    line-height: 1.8;
}

a {
    color:#1883BB;
    text-decoration:none;
}

a:hover {
    color:#1883BB;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

h1 {
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}

h2 {
    margin:30px 0 20px;
}

ol {
    line-height:1.5;
}

#header {
    padding:10px 100px;
    font-size:14px;
    background:#fff;
    color:#1883BB;
    border-bottom:4px solid #1883BB 0.5;
    overflow:auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color:#f3f7cc;
    font-size:20px;
    margin-right:10%;
}

#header ul.menu {
    
    color:#1883BB;
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:left;
    padding:4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:#1b6d32;
    font-weight:bold;
}

#header a {
    color:#1883BB;
}
#header a:hover {
    color:#fff;
}

#header .user {
    float:right;
    padding-top:4px;
}

#content {
    padding:30px 100px;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ccc;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    font-weight:bold;
    text-transform:uppercase;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}


/* social-auth */
.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }


/* images */

.image-preview, .image-detail {
    max-width:300px;
    float:left;
    margin:0 20px 20px 0;
}
.image-detail { margin-top:20px; }
.image-info div {
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:hidden; }
#image-list .image {
    float:left;
    width:220px;
    height:300px;
    margin:0 10px 10px 10px;
    border-top:8px solid #12c064;
    background:#eee;
}
#image-list img { width:220px; height:220px; }
#image-list .info { padding:10px; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}

/* users */
#people-list img {
    width:180px;
    height:180px;
    border-radius:50%;
    margin-bottom:20px;
}
#people-list .user {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}
#people-list .info { text-align:center; }
img.user-detail {
    border-radius:50%;
    float:left;
}
.profile-info {
    float:left;
    overflow:auto;
    margin-right:20px;
}
.image-container { margin-top:40px; }

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 10px 10px 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}

/* new/////////////////////////// */



.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    gap: 1rem
}

.wrapper {
    width: 100%;
    max-width: 25em;
    margin-inline: 1rem;
    padding: 1.5em;
    border-radius: 1em;
    backdrop-filter: blur(1.5em);
    border: .1em solid #12c064;
}

.container .form {
    display: flex;
    flex-direction: column;
}


.container .form .txt-input {
    background: transparent;
    border: .1em solid #12c064;
    border-radius: .5em;
    height: 5rem;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    padding: .5em;
    outline: none;
    resize: none
}
.container .form .txt-input::placeholder {
    color: #9bf1c3
}


.container .form .btn {
    padding: .5em;
    cursor: pointer;
    border-radius: .5em;
    font-size: 1rem;
    font-weight: bold;
    margin: 1em 0;
    transition: .3s ease;
    border: .1em solid transparent;
    text-transform: uppercase;
}
.container .form .btn:hover {
    color: rgb(0, 0, 0);
    background: transparent;  
    border-color: #12c064
}


.container .reply  {
    color: #12c064;
    font-size: 1rem;
}





/* ========================================== */


/*  NAVBAR  */

/* nav {
    margin: 10% auto;
    display: flex;ذ
    justify-content: space-between;
    min-height: 10vh;
    width: 100%;
    background: #fff;
    position: relative;
    } */

  /* HERO - WELCOME */
  
.hero-content {
  padding: 0 3rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

  .hero-image-column {
    height: 80vh; 
    width: 55%;
    /* margin-left: 3rem; */
  }

  @media (max-width: 991px) {
    .hero-image-column {
      width: 100%;
    }
  }

  .hero-image {
    height: 80vh;
    /* aspect-ratio: 1; */
    object-fit: auto;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .hero-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-text-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin: 5rem 4rem;
    color: #000;
  }

  @media (max-width: 991px) {
    .hero-text-column {
      width: 100%;
    }
  }

  /* .hero-text-content {
    display: flex;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    color: #000;
    font-weight: 400;
    padding: 0 20px;
  } */

  @media (max-width: 991px) {
    .hero-text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-welcome-text .hero-subtitle {
    font-size: 2.2em;
    font-weight: 200;
  }

  .hero-title {
    color: #1883bb;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 8em;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .hero-title {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }


  @media (max-width: 991px) {
    .hero-subtitle {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-cta-button {
      border-radius: 28px;
      background-color: #1883bb;
      margin-top: 133px;
      width: 344px;
      max-width: 100%;
      align-items: center;
      color: #fff;
      text-align: center;
      justify-content: center;
      padding: 35px 60px;
      font-size: .8em;
    }

.hero-cta-button:hover {
    cursor: pointer;
    background: var(--primaryHover);
}
  @media (max-width: 991px) {
    .hero-cta-button {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .hero-join-text {
    text-align: center;
    margin-top: 4rem;
    font: 16px Poppins, sans-serif;
  }

  @media (max-width: 991px) {
    .hero-join-text {
      margin-top: 40px;
    }
  }

  .hero-join-button {
    font-family: Poppins, sans-serif;
    border-radius: 28px;
    border: 1px solid #1883bb;
    margin-top: 18px;
    width: 344px;
    max-width: 100%;
    align-items: center;
    color: #1883bb;
    text-align: center;
    justify-content: center;
    padding: 35px 60px;
    font-size: .8em;
  }
  .hero-join-button:hover {
    cursor: pointer;
    background: var(--secondaryColor);
    border: var(--secondaryColor);

  } 

  @media (max-width: 991px) {
    .hero-join-button {
      padding: 0 20px;
    }
  }
